@media screen and (max-width:750px){
  /* ----------- all ---------- */
  .container {
    width: 350px;
  }

  /* ---------- header---------- */
  #close p {
    font-size: 18px;
  }

  #close span {
  margin-left: 0px;
}

nav {
  width: 150px;
}

nav li {
  padding-top: 30px;
  padding-right: 20px;
  font-size: 14px;
}


  /* ---------- main ---------- */
.top {
  height: 500px;
}

/* ---------- section ---------- */
/* ---------- works ---------- */
.works {
  height: 750px;
}

.section-title h1 {
  padding-bottom: 30px;
}

/* ---------- work-list ---------- */
.work-lists {
  padding-left: 30px;
}

.work-item img {
  width: 130px;
}

/* ---------- work-content ---------- */
.work_inner {
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 5%;
}

#close_content span {
  font-size: 15px;
}

.content-txt p {
  padding-bottom: 10px;
  font-size: 10px;
}

.content-title p {
  font-size: 15px;
  padding-bottom: 20px;
}

.content-image {
  padding-bottom: 20px;
}

.content-image img {
  width: 200px;
}

/* ---------- skill ---------- */
.skill-images {
  padding: 0 10%;
}

.skill-images img {
  width: 100px;
  margin: 10px 20px;
}

.skill-images img.jquery {
  margin-top: 30px;
  margin-bottom: 0px;
}

/* ---------- service ---------- */
.service-item {
  width: 95%;
}

/* ---------- profile ---------- */
.profile {
  height: 450px; 
}

.profile-list {
  flex-direction: column;
}

.prodile-icon {
  text-align: center;
}

.prodile-icon img {
  width: 150px;
  margin-top: 0px;
}

.profile-txt {
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
}

.profile-txt p {
  font-size: 15px;
  padding-bottom: 10px;
}

/* ---------- contact ---------- */
.contact-txt {
  font-size: 12px;
}

/* ---------- footer ---------- */
.footer li {
  padding: 0 10px;
}

.footer a {
  font-size: 12px;
}


}